@import '~vuetify/dist/vuetify.min.css';
@import '~material-icons/iconfont/material-icons.css';

a {
    text-decoration: none !important;
    color: inherit !important;
}

table td {
    text-align: left !important;
}

.hidden {
    display: none;
}

.action {
    cursor: pointer;
}

#footer {
    margin-bottom: 1.5rem;
}
