@import '~vuetify/dist/vuetify.min.css';
@import '~material-icons/iconfont/material-icons.css';
@import '~chart.js/dist/Chart.min.css';

a {
    text-decoration: none !important;
    color: inherit !important;
}

table td {
    text-align: left !important;
}

.hidden {
    display: none;
}

.action {
    cursor: pointer;
}

#footer {
    margin-bottom: 1.5rem;
}

.chart {
    width: 100%;
}

/* Vuetify overrides */
.v-tooltip__content {
    font-size: 1.5rem !important;
}

.v-input--selection-controls {
    padding: 0 !important;
    margin: 0 !important;
}
