html, body {
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

/* body .application, body #welcome {
    background: rgb(114,213,173) !important;
    background: -moz-linear-gradient(10deg, rgba(114,213,173,1) 0%, rgba(85,1,161,1) 70%) !important;
    background: -webkit-linear-gradient(10deg, rgba(114,213,173,1) 0%, rgba(85,1,161,1) 70%) !important;
    background: linear-gradient(10deg, rgba(114,213,173,1) 0%, rgba(85,1,161,1) 70%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#72d5ad",endColorstr="#5501a1",GradientType=1);
} */

body .application, body #welcome {
    background: rgb(114,213,174) !important;
    background: -moz-linear-gradient(10deg, rgba(114,213,174,1) 0%, rgba(99,26,191,1) 83%) !important;
    background: -webkit-linear-gradient(10deg, rgba(114,213,174,1) 0%, rgba(99,26,191,1) 83%) !important;
    background: linear-gradient(10deg, rgba(114,213,174,1) 0%, rgba(99,26,191,1) 83%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#72d5ae",endColorstr="#631abf",GradientType=1);
}

.logo {
    font-size: 4rem !important;
}

.v-alert {
    margin: 0 !important;
}

#welcome {
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.content {
    text-align: center;
}

.title {
    font-size: 80px !important;
}

.subtitle {
    font-size: 25px !important;
}

.links > a {
    color: #fff !important;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.m-t-sm {
    margin-top: 10px;
}

.button {
    border: solid 2px white !important;
    border-radius: 5px !important;
    padding: 10px 20px !important;
}
