@import url("https://fonts.googleapis.com/css2?family=Damion&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Damion&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

body {
    font-family: "Mulish", sans-serif !important;
}

.logo {
    font-family: "Damion", sans-serif !important;
}

.background-video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Place the video behind other content */
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background-video-overlay::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(
        0,
        0,
        0,
        0.55
    ); /* Adjust the last value (0.5) for the darkness level */
    z-index: 1; /* Place the overlay above the video */
    backdrop-filter: blur(3px); /* Blur the overlay */
}
